@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: Flame;
    src: url(/assets/Flame-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Flame;
    src: url(/assets/Flame-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Flame Sans;
    src: url(/assets/FlameSans-Regular.ttf);
}

* {
    font-family: 'Flame Sans', sans-serif;
}

@layer components {
    .box {
        @apply shadow-standard;
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        padding: 15px 20px;
        transition: all 0.3s ease;
    }

    .btn-logo {
        height: 15px;
        width: 15px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        filter: invert(100%);
    }

    .add-btn {
        background-image: url(/assets/add.svg);
    }

    .remove-btn {
        background-image: url(/assets/remove.svg);
    }

    .delete-btn {
        background-image: url(/assets/delete.svg);
    }

    .edit-btn {
        background-image: url(/assets/edit.svg);
    }

    .close-btn {
        background-image: url(/assets/close.png);
    }
}

@layer base {
    h1,
    h2,
    h3 {
        font-family: 'Flame', sans-serif;
        font-weight: 500;
        color: #55291a;
    }

    button {
        border: none;
        background-color: #d72300;
        outline: none;
        cursor: pointer;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        font-size: 20px;
        font-weight: 700;
    }

    button:hover {
        background-color: #b21e00;
    }

    button:active {
        background-color: #8c1900;
    }
}

/* -------------------------- Scrollbar -------------------------- */

/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #d72300 white;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: white;
}

*::-webkit-scrollbar-thumb {
    background-color: #d72300;
    border-radius: 10px;
    border: 5px solid white;
}
