@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: Flame;
    src: url(/assets/Flame-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Flame;
    src: url(/assets/Flame-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Flame Sans;
    src: url(/assets/FlameSans-Regular.ttf);
}

* {
    font-family: 'Flame Sans', sans-serif;
}

@layer base {
    h1,
    h2,
    h3 {
        font-family: 'Flame', sans-serif;
        font-weight: 500;
        color: #55291a;
    }

    button {
        border: none;
        background-color: #d72300;
        outline: none;
        cursor: pointer;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        font-size: 20px;
        font-weight: 500;
    }

    button:hover {
        background-color: #b21e00;
    }

    button:active {
        background-color: #8c1900;
    }

    input[type='text'],
    input[type='number'],
    input[type='password'],
    input[type='email'],
    textarea,
    select {
        @apply border border-gray-400 rounded-lg p-3;
    }
}

@layer components {
    .box {
        @apply shadow-standard;
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        padding: 15px 20px;
        transition: all 0.3s ease;
    }

    .btn-logo {
        height: 15px;
        width: 15px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        filter: invert(100%);
    }

    .add-btn {
        background-image: url(/assets/add.svg);
    }

    .remove-btn {
        background-image: url(/assets/remove.svg);
    }

    .delete-btn {
        background-image: url(/assets/delete.svg);
    }

    .edit-btn {
        background-image: url(/assets/edit.svg);
    }

    .close-btn {
        background-image: url(/assets/close.png);
    }

    .loader {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        position: relative;
        animation: rotate 1s linear infinite;
    }

    .loader::before {
        content: '';
        box-sizing: border-box;
        position: absolute;
        inset: 0px;
        border-radius: 50%;
        border: 5px solid #d72300;
        animation: prixClipFix 2s linear infinite;
    }

    .loader.light {
        border: 5px solid white;
    }

    @keyframes rotate {
        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes prixClipFix {
        0% {
            clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
        }
        25% {
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
        }
        50% {
            clip-path: polygon(
                50% 50%,
                0 0,
                100% 0,
                100% 100%,
                100% 100%,
                100% 100%
            );
        }
        75% {
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
        }
        100% {
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
        }
    }
}

/* -------------------------- Scrollbar -------------------------- */

/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #d72300 white;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: white;
}

*::-webkit-scrollbar-thumb {
    background-color: #d72300;
    border-radius: 10px;
    border: 5px solid white;
}
